# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
*.DS_Store
*.rds
out.gif
*.pdf
size-1984.png
size-1985.png
size-1986.png
size-1987.png
size-1988.png
size-1989.png
size-1990.png
size-1991.png
size-1992.png
size-1993.png
size-1994.png
size-1995.png
size-1996.png
size-1997.png
size-1998.png
size-1999.png
size-2000.png
size-2001.png
size-2002.png
size-2003.png
size-2004.png
size-2005.png
size-2006.png
size-2007.png
size-2008.png
size-2009.png
size-2010.png
size-2011.png
size-2012.png
size-2013.png
size-2014.png
density-1984.png
density-1985.png
density-1986.png
density-1987.png
density-1988.png
density-1989.png
density-1990.png
density-1991.png
density-1992.png
density-1993.png
density-1994.png
density-1995.png
density-1996.png
density-1997.png
density-1998.png
density-1999.png
density-2000.png
density-2001.png
density-2002.png
density-2003.png
density-2004.png
density-2005.png
density-2006.png
density-2007.png
density-2008.png
density-2009.png
density-2010.png
density-2011.png
density-2012.png
density-2013.png
density-2014.png
